<h1> Welcome back, <b><%= @current_user.username%></b>!</h1>

<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>

<h1>Your Current Inventory</h1>
<br>
<ul>

  <!---<small><strong><a href="/logout">Log Out</a></strong></small>
--->
      <!---<% if @items.size > 0 %> --->
      <% @items.each do |item| %>
        <%= item.title %> <br />
        <%= item.description %> <br />
        <%= item.character %> <br />

        <form action="/items/<%=item.id%>/edit_item" method="patch">
          <input type="hidden" name="_method" value="edit"/>
          <input type="submit" value="edit"/>
        </form>
<form action="/items/<%=item.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="delete"/>
</form>
<br> </br>




        <% end %>
        <footer>
          <a href="/items/new">Add a new item!</a>
        </footer>
        <% end %>
</ul>
