<h1>What's Inside Your Haversack!</h1>

<br></br>

<h2><%= @item.title %></h2>

<br>

<p><b>Character:</b><%= @item.character %></p>
<p><b>Description:</b> <%= @item.description %></p>

<br>

<a href="/items/<%= @item.id %>/edit_item">Edit Existing Item</a>

<br></br>

<form action="/items/<%= @item.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete Item">
</form>

<br></br>

<a href="/index">View All Items</a>
